<%= search_form_for @q, :class => collapse_search_form, :id => "events_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :date, "Date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='dategteqPicker' data-target-input="nearest">
          <%= f.text_field :date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Date greater than or equal to", :data => {:target => '#dategteqPicker'} %>
          <div class="input-group-append" data-target='#dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='datelteqPicker' data-target-input="nearest">
          <%= f.text_field :date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Date less than or equal to", :data => {:target => '#datelteqPicker'} %>
          <div class="input-group-append" data-target='#datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#dategteqPicker').on("dp.change", function (e) {
              $('#datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#datelteqPicker').on("dp.change", function (e) {
              $('#dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :rsvp, "Rsvp" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :rsvp_gteq, :class => "form-control", :placeholder => "Rsvp greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :rsvp_lteq, :class => "form-control", :placeholder => "Rsvp less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comments, "Comments" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :comments_gteq, :class => "form-control", :placeholder => "Comments greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :comments_lteq, :class => "form-control", :placeholder => "Comments less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :details, "Details" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :details_gteq, :class => "form-control", :placeholder => "Details greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :details_lteq, :class => "form-control", :placeholder => "Details less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, "Location" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :location_gteq, :class => "form-control", :placeholder => "Location greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :location_lteq, :class => "form-control", :placeholder => "Location less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time, "Time" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='timegteqPicker' data-target-input="nearest">
          <%= f.text_field :time_gteq, :class => "form-control datetimepicker-input", :placeholder => "Time greater than or equal to", :data => {:target => '#timegteqPicker'} %>
          <div class="input-group-append" data-target='#timegteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
          <script type="text/javascript">
            $(function () {
                $('#timegteqPicker').datetimepicker({
                  format: 'LT'
                });
            });
          </script>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='input-group date' id='timelteqPicker' data-target-input="nearest">
          <%= f.text_field :time_lteq, :class => "form-control datetimepicker-input", :placeholder => "Time less than or equal to", :data => {:target => '#timelteqPicker'} %>
          <div class="input-group-append" data-target='#timelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
          <script type="text/javascript">
            $(function () {
                $('#timelteqPicker').datetimepicker({
                  format: 'LT'
                });
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :response, "Rsvp Response" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :rsvps_response_gteq, :class => "form-control", :placeholder => "Rsvp Response greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :rsvps_response_lteq, :class => "form-control", :placeholder => "Rsvp Response less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, "Comment User" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :comment_user_id_gteq, :class => "form-control", :placeholder => "Comment User greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :comment_user_id_lteq, :class => "form-control", :placeholder => "Comment User less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "User Name" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :user_name_gteq, :class => "form-control", :placeholder => "User Name greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :user_name_lteq, :class => "form-control", :placeholder => "User Name less than or equal to" %>
      </div>
    </div>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/events" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#events_filters">
  Show filters
</a>
