<% was_validated = rsvp.errors.any? %>

<%= form_with(model: rsvp, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% response_class = "form-control" %>
    <% response_was_invalid = rsvp.errors.include?(:response) %>

    <% if was_validated %>
      <% if response_was_invalid %>
        <% response_class << " is-invalid" %>
      <% else %>
        <% response_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :response %>
    <%= f.number_field :response, class: response_class, placeholder: "Enter response" %>
    <% if response_was_invalid %>
      <% rsvp.errors.full_messages_for(:response).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = rsvp.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% rsvp.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_class = "form-control" %>
    <% event_was_invalid = rsvp.errors.include?(:event) %>

    <% if was_validated %>
      <% if event_was_invalid %>
        <% event_class << " is-invalid" %>
      <% else %>
        <% event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_id %>
    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
    <% if event_was_invalid %>
      <% rsvp.errors.full_messages_for(:event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
